body {
    background: url(..\\images\\topography.png);
}

button {
    color: white;
    background: black;
    border: 2px solid black;
    border-radius: 3px;
}

input {
    border: 2px solid black;
    border-radius: 3px;
    padding: 1px 1px;
}

div div {
    padding: 5px;
}

.image {
    align-self: center;
    border: 1px solid black;
}

#add {
    grid-area: add;
}

#buttons {
    grid-area: buttons;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 5px;

}

#imageContainer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    grid-area: images;
    grid-gap: 5px;
}

#mainGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "images add"
    "images buttons";
}

#add  * {
    margin: 5px 0;
}