div div {
    padding: 5px;
}

.image {
    align-self: center;
}

#add {
    grid-area: add;
}

#buttons {
    grid-area: buttons;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 5px;

}

#imageContainer {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    grid-area: images;
    grid-gap: 5px;
}

#mainGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "images add"
    "images buttons";
}

#add  * {
    margin: 5px 10px;
}